/*ESTILO GERAL*/
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {     
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #080808;
    height: 256vh;
    background: linear-gradient(to bottom, #080808, #161616, #242424);
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: #00bbff;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #fff;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    transition: 0.2s;
}
h2.titulo{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-variation-settings: "wdth" 100;
}
h2.titulo span{
    color: #00bbff;
    font-size: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    font-optical-sizing: auto;
    font-weight: 800;
    font-variation-settings: "wdth" 100;
}

/* Efeito de vinheta */
.btn-contato button:hover {
    background-color: #00bfff;
    /*box-shadow: inset 0 0 50px rgba(37, 97, 134, 0.5);  Vinheta escura nas bordas */
    color: #222;
    transform: scale(1.02);
    transition: all 0.3s ease;
}

/* ESTILO DO CABEÇALHO*/
header {
    padding: 40px 5%;
    background-color: #080808; /* Caso precise garantir */
    box-shadow: 0 16px 8px rgba(0, 0, 0, 0.1); /* Sombra para baixo */
    position: relative; /* Necessário para z-index funcionar */
    z-index: 10; /* Garante que fique acima das outras seções */
}

header>.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    
}

header a:hover{
    color: #00bbff;
    transform: scale(1.05);
    transition: all 0.3s ease ;

}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 32px;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 4px;
    color: #008b97;
    transform: scale(1.02);
    transition: all 0.2s ease ;
}
.faixa-branca {
    width: 100%;
    background-color: #494949;
    padding: 256px 8px;
    margin-top: 24px;
}
section.topo-do-site {
    padding: 64px 5%;
    background-color: #ffffff;
    color: #080808;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.txt_topo_site {
    max-width: 60%;
}

.topo-do-site h1{
    color: #080808;
    font-size:  50px;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-variation-settings: "wdth" 100;
    
}
.topo-do-site p{
    margin: 32px 0;
    color: #080808;
    font-size:  20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 .destaque {
    color: #606060;
    font-size:  52px;
    font-family: "Roboto", sans-serif;
    line-height: 64px;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-variation-settings: "wdth" 100;
    
}
h1 .ponto_destaque {
    color: #00bbff; /* Cor do ponto final */
    font-size: 64px; /* Tamanho do ponto final */
    font-family: "Verdana", sans-serif; /* Fonte impactante */
    font-weight: bold; /* Peso da fonte */
}
/* Estilo do contêiner */
.topo-do-site .img-topo-site {
    position: relative; /* Definindo a posição do contêiner */
}

/* Estilo da imagem com animação */
.topo-do-site .img-topo-site img {
    position: relative; /* Deixe a imagem com posição relativa */
    width: 100%; /* Ajuste conforme necessário */
    max-width: 400px; /* Ou um valor fixo se necessário */
    animation: img_flutuante 2s ease-in-out infinite alternate;
}

/* Animação de flutuação */
@keyframes img_flutuante {
    0% {
        transform: translateY(0); /* Imagem começa no topo */
    }
    100% {
        transform: translateY(18px); /* Imagem move 32px para baixo */
    }
}

/*ESTILO DAS ESPECIALIDADES*/
.especialidades{
    padding: 64px 5%;
}
.especialidades .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.especialidades-box {
    flex: 1 1 calc(25% - 18px); /* 4 por linha com gap */
    background-color: transparent;
    color: #ffffff;
    padding: 40px;
    border: 2px solid #68686863;
    margin-top: 42px;
    border-radius: 32px;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 1024px) {
    .especialidades-box {
        flex: 1 1 calc(50% - 12px);
    }
}
.especialidades-box i {
    font-size: 40px;
    color: #ffffff; /* Cor dos ícones */
}
.especialidades-box h3{
    font-size: 20px;
    color: #ffffff;
    margin: 20px 0;
}
.especialidades-box:hover {
    background-color: #ffffff;
    color: #080808;
    transform: scale(1.02);
    box-shadow: #303030d7;
    transition: all 0.4s ease-in-out;
}

.especialidades-box:hover i,
.especialidades-box:hover h3,
.especialidades-box:hover p {
    color: #080808;
    transition: color 0.4s ease-in-out;
}

/* ESTILO MEU PORTFÓLIO */

.portfolio {
    padding: 64px 5%;
    background-color: #fff;
    box-shadow: 0 0 40px 10px #ffffff1d; 
}

.portfolio .titulo {
    color: #080808;
}

.portfolio .titulo span {
    color: #00bfff; 
}

.portfolio a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.portfolio .flex {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
    gap: 32px;
    flex-wrap: wrap;
}

.portfolio .img-port {
    width: 396px;
    height: 600px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    cursor: pointer;
    border-radius: 32px;
    position: relative;
}

.portfolio .img-port:hover {
    background-position: 100% 100%;

}

.portfolio .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #252525c2;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 512;
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
}
.overlay:hover{
    opacity: 1;
}

/* --- SOBRE MIM --- */

.sobre {
    padding: 128px 5%;
    background-color: #111;
    color: #fff;
}

.sobre .titulo {
    font-size: 40px;
    text-align: center;
    margin-bottom: 128px;
    font-weight: bold;
}

.sobre .titulo span {
    color: #00bfff;
    font-size: 40px;
}

.sobre .flex {
    margin-top: 64px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 96px;
}

.sobre .txt-sobre {
    flex: 1 1 500px;
}

.sobre .txt-sobre h3 {
    font-size: 48px;
    margin-bottom: 32px;
    color: #00bfff;
    line-height: 50px;
}

.meu_nome {
    font-size: 48px;
    color: #ffffff;
    display: block;
}

.sobre .txt-sobre p {
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 56px;
    color: #ffffff;
}

.sobre .btn-contato button {
    background-color: #00bfff;
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 16px;
    transition: 0.3s;
}

.sobre .btn-contato button:hover {
    background-color: #00bfff;
    color: #222;
    transform: scale(1.04);
    cursor: pointer;
}

.txt-sobre {
    flex: 1;
}

.sobre .btn-social button{
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: none;
    color: #080808;
    background-color: #00bfff;
    font-size: 32px;
    cursor: pointer;
    margin: 0 5px;
}
.sobre .btn-social button:hover {
    background-color: #00bfff;
    color: #ffffff;
    transform: scale(1.08);
    cursor: pointer;
    transition: all 0.25 ease-in-out;
}

/*ESTILO FORMULÁRIO DE CONTATO*/

section.formulario{
    background-color: #ffffff;
    padding: 64px 5%;
    margin-bottom: 48px 0;
}
.formulario .titulo {
    color: #080808;
    margin-bottom: 48px;
}
form{
    max-width: 426px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

form input{
    width: 100%;
    background-color: #eeeeeeea;
    border: 0;
    border-color: #dadadaa2;
    outline: 2;
    outline-color: #00bfff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
}

form input::placeholder{
    color: #969696a6;
}
form textarea::placeholder{
    color: #969696a6;
}

form textarea{
    resize: none;
    max-height: 256px;
    width: 100%;
    background-color: #eeeeeeea;
    border: 0;
    border-color: #dadadaa2;
    outline: 2;
    outline-color: #00bfff;
    padding: 30px 24px;
    border-radius: 8px;
    font-size: 16px;
}

form .btn-enviar{
    margin: 12px 0;
    text-align: center;
}

form .btn-enviar input{
    background-color: #00bfff;
    border-radius: 16px;
    width: 174px;
    font-size: 18px;
    font-weight: 512;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

form .btn-enviar input:hover{
    transform: scale(1.04);
    transition: all 0.3s;
}   

/* RESPONSIVIDADE PARA TELAS MENORES (≤768px) */

@media (max-width: 768px)
{
    /* GERAL */
    body {
        height: auto;
    }

    .interface {
        padding: 0 16px;
    }

    .flex {
        flex-direction: column;
        align-items: center;
    }

    h2.titulo,
    h2.titulo span,
    .portfolio .titulo,
    .portfolio .titulo span,
    .sobre .titulo,
    .sobre .titulo span {
        font-size: 32px;
    }

    /* HEADER */
    header {
        padding: 24px 5%;
    }

    header nav ul li {
        padding: 0 16px;
    }

    .btn-contato button {
        padding: 10px 24px;
        font-size: 16px;
    }

    /* TOPO DO SITE */

    section.topo-do-site {
        padding: 48px 5%;
        text-align: center;
    }

    .txt_topo_site {
        max-width: 100%;
    }

    .topo-do-site h1 {
        font-size: 36px;
        line-height: 44px;
    }

    h1 .destaque {
        font-size:  36px;
        line-height: 44px;
    }
    .topo-do-site p {
        font-size: 18px;
    }

    .topo-do-site .img-topo-site img {
        max-width: 300px;
    }

    /* ESPECIALIDADES */
    .especialidades-box {
        flex: 1 1 100%;
        padding: 12px;
    }

    /* portfolio */
    .portfolio .flex {
        justify-content: center;
    }

    .portfolio .img-port {
        width: 90%;
        height: auto;
        padding: 30px 0;
    }

    .portfolio .img-port img {
        max-height: 200px;
        object-fit: cover;
    }

    /* SOBRE */
    .sobre .flex {
        gap: 48px;
    }

    .sobre .txt-sobre h3,
    .meu_nome {
        font-size: 28px;
        line-height: 36px;
    }

    .sobre .txt-sobre p {
        font-size: 16px;
        line-height: 22px;
    }

    .img-sobre img {
        width: 80%;
    }

    .sobre .btn-social button{
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: space-between;

}
}